<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="hero.css">
    <title>Document</title>
</head>

<body>
    <header class="hero">
        <div class="hero--size">
            <div class="hero__title">
                <figure class="hero__title-figura">
                    <img class="hero__title-figura--size-img" src="img/logo-progress.png" alt="Logo_progress">
                </figure>
                <p class="hero__title-texto">A new way for service providers and consumers to track project progression.</p>
            </div>
            <figure class="hero__phone">
                <img src="img/phone-hero.png" class="hero__phone--size-img" alt="Phone_Hero">
            </figure>
        </div>
    </header>
</body>

</html>