<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="hero/hero.css">
    <title>Document</title>
</head>
<body>
<header>
    <div>
    <img src="img/logo-progress.png" alt="Logo_progress">
    <h1>A new way for service providers and consumers to track project progression.</h1>
    </div>
    <figure>
    <img src="img/phone-hero.png" alt="Phone Hero">
    </figure>
</header>
</body>
</html>