<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/services.css">
</head>

<body>
    <div class="services">
        <div class="services-icon services-icon--left">
            <img class="services-icon__demo services-icon__demo--1" src="img/icon1.png" alt="icon detail">
            <img class="services-icon__demo services-icon__demo--2" src="img/icon2.png" alt="icon flower">
            <img class="services-icon__demo services-icon__demo--4" src="img/icon3.png" alt="icon grave">
            <img class="services-icon__demo services-icon__demo--3" src="img/icon4.png" alt="icon pc">
        </div>
        <div class="services-phone">
            <img class="services-phone__demo" src="img/phone.png" alt="phone">
        </div>
        <div class="services-icon services-icon--right">
            <img class="services-icon__demo services-icon__demo--2" src="img/icon5.png" alt="icon bug">
            <img class="services-icon__demo services-icon__demo--1" src="img/icon6.png" alt="icon tool">
            <img class="services-icon__demo services-icon__demo--3" src="img/icon7.png" alt="icon mech">
            <img class="services-icon__demo services-icon__demo--4" src="img/icon8.png" alt="icon garden">
        </div>
    </div>
    </div>
</body> 

</html>