<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="feature.css">
    <title>MsgFeature</title>
</head>
<body>
    
    <section class="feature">
    
        <article  class="feature__art flex">
            <div class="feature__text">
                <h2 class="feature__h2">Tracks projects easily</h2>
                <p class="feature__p">Providers can give <u></u>pdates, share status, request updates, 
                    and require payments in one efficient tool. Simple, easy, progress.    
                </p>
            </div>
        
            <!-- srcset="codeMobile.png 768w, code.png"      -->
            

            <img alt="imagem de duas conversas de monitoramento de serviços" 
                 class="feature__img flex__order"
                 src="codeMobile.png">
            
            <div class="feature__text">
                <h2 class="feature__h2">Clear communication</h2>
                <p class="feature__p">Progress allow direct communication between the
                    consumer and service provider. No more waiting for call backs, 
                    missing emails, or lost paperwork.   
                </p>
            </div>
        </article>
        
        <!-- srcset="tableMobile.png 768w, table.png" -->


        <article class="flex__reverse">
            <img alt="tabela com custos dos serviços" 
                class="feature__img"
                src="tableMobile.png">
            
            <div class="feature__text">
                <h2 class="feature__h2">Estimate, approve, pay</h2>
                <p class="feature__p">The major...</p>
            </div>
        </article>    

    </section>    


</body>
</html>