<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="feature.css">
    <title>MsgFeature</title>
</head>
<body>
    
    <section>
    
        <article  class="feature">
            <div class="feature-info feature__demo--float">
                <h2 class="feature-info__title">Tracks projects easily</h2>
                <p class="feature-info__text">Providers can give updates, share status, request updates, 
                    and require payments in one efficient tool. Simple, easy, progress.    
                </p>
            </div>
        
           
            <img alt="imagem de duas conversas de monitoramento de serviços" 
                 class="feature__demo feature__demo--floatLeft"
                 src="../../img/codeMobile.PNG">
            
            <div class="feature-info feature__demo--float">
                <h2 class="feature-info__title">Clear communication</h2>
                <p class="feature-info__text">Progress allow direct communication between the
                    consumer and service provider. No more waiting for call backs, 
                    missing emails, or lost paperwork.   
                </p>
            </div>
        </article>
        
        <article class="feature flex__reverse">
            <img alt="tabela com custos dos serviços" 
                class="feature__demo"
                src="../../img/tableMobile.PNG">
            
            <div class="feature-info">
                <h2 class="feature-info__title">Estimate, approve, pay</h2>
                <p class="feature-info__text">The major.Progress allow direct communication between the
                    consumer and service provider. No more waiting for call backs, 
                    missing emails, or lost paperwork...</p>
            </div>
        </article>    

    </section>    


</body>
</html>