* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.services {
    display: flex;
    width: 70%;
    margin: 0 auto;
}

.services-icon {
    width: 20%;
    margin: 0 2%;
}

.services-icon__demo {
    width: 100%;
}

.services-phone {
    width: 50%;
}

.services-phone__demo{
    width: 100%;
}

@media screen and (min-width: 992px) {

    .services {
        width: 95%;
        align-items: center;
    }

    .services-icon {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 35%;
    }

    .services-icon__demo {
        width: 40%;
        margin: 3%;
    }

    .services-icon__demo--1 {
        order: 4; 
    }

    .services-icon__demo--2 {
        order: 3; 
    }

    .services-icon__demo--3 {
        order: 2; 
    }

    .services-icon__demo--4 {
        order: 1; 
    }

    .services-phone {
        width: 50%;
    }
}